.Inform_body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.Inform_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 100px;
}

.Inform_Page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 90%;
}

.Inform_profile-section, .Inform_other-section {
    flex: 1;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Inform_profile-image {
    width: 350px;
    height: 350px;
    max-width: 350px;
    border-radius: 50%;
}

.Inform_profile-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 200px;
    height: 50px;
}
.Inform_Pic_Btn{
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Gmarket Sans TTF', sans-serif;
}
.Inform_info-container, .Inform_withdraw-section {
    width: 100%;
    
}

.Inform_info-background {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.Inform_withdraw-instruction{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Inform_label {
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Gmarket Sans TTF', sans-serif;
}

.Inform_input-container {
    margin-bottom: 15px;
    margin-right: 20px;
    width: 100%;
    
}


.Inform_input-background {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
    font-size: 20px;
    line-height: normal;
    font-family: 'Gmarket Sans TTF', sans-serif;
}

.Inform_save-button-container {
    display: flex;
    justify-content: center;
}
.Inform_icon-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Gmarket Sans TTF', sans-serif;
}

.Inform_withdraw-instruction{
    font-family: 'Gmarket Sans TTF', sans-serif;
}

.Inform_Rectangle12 {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .Inform_Page {
        flex-direction: column;
        align-items: center;
    }

    .Inform_profile-image {
        max-width: 200px;
        
    }
}

.Inform_nickname-section,
.Inform_password-section,
.Inform_confirm-password-section,
.Inform_save-button-container {
    padding-top: 10px;
    width: 90%;
}

