/* 전체 모달 스타일 */
.ranking-modal {
  position: fixed;
  font-family: 'Gmarket Sans TTF', sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* 더 어두운 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.ranking-modal-content {
  background: #ffffff; /* 더 밝은 배경 */
  width: 600px;
  max-width: 80%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: slideIn 0.3s ease-in-out;
}

.ranking-modal h2 {
  font-family: 'Gmarket Sans TTF', sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-top: 0;
  text-align: center;
  color: #333333;
}

.ranking-modal p {
  font-family: 'Gmarket Sans TTF', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #666666;
  text-align: center;
}

ul {
  padding: 0; /* 리스트의 기본 패딩 제거 */
  margin: 0; /* 리스트의 기본 마진 제거 */
}

.ranking-item {
  display: flex;
  justify-content: space-between; /* 요소 간 균일한 간격 */
  align-items: center;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 100%; /* 전체 너비 사용 */
  max-width: 550px; /* 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}

.ranking-item:hover {
  transform: scale(1.02);
}

.ranking-item span {
  font-family: 'Gmarket Sans TTF', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  flex: 1; /* 각 요소가 균일한 너비를 가짐 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.ranking-item .rank {
  flex: 0 0 50px; /* 랭크의 고정 너비 */
}

.ranking-item .profile-img {
  flex: 0 0 50px; /* 이미지의 고정 너비 */
}

/* 랭킹 아이템 프로필 이미지 스타일 */
.ranking-item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #e0e0e0;
  margin-right: 10px; /* 오른쪽 여백 추가 */
}

/* 로딩, 에러, 모두 실패 텍스트 스타일 */
.ranking-modal .loading,
.ranking-modal .error,
.ranking-modal .all-failed {
  font-family: 'Gmarket Sans TTF', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #666666;
  text-align: center;
}

/* 애니메이션 스타일 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
