/* Code_Modal.css */

.Code_modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Code_modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%; /* adjust as needed */
  max-width: 1000px; /* max-width to ensure modal doesn't get too wide */
  height: 80%; /* adjust as needed */
  max-height: 800px; /* max-height to ensure modal doesn't get too tall */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.CodePage {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.CodePage_header {
  background: rgb(57, 57, 247);
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 10px;
  height: 50px;
}
.CodePage_timer{
  color: white;
  font-size: 40px;
}
.CodePage_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.CodePage_problem {
  flex: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: auto;
}

.CodePage_codeContainer {
  flex: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: auto;
}

.codeEditor {
  height: 100%;
}

.code_bold{
  font-weight: bold;
}

/* ProblemDetails.css */
.problem-section {
  margin-bottom: 20px; /* 원하는 만큼의 간격을 설정합니다 */
}


/* Optional: Adjustments for responsiveness */
@media (max-width: 768px) {
  .Code_modal-content {
    width: 90%;
  }
}
