.nav_body {
    width: 100%; /* nav의 너비를 100%로 설정 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    border-bottom: 1px #949494 solid;
  }
  
  .Header {
    width: 100%;
    max-width: 1440px; /* 최대 너비 설정 */
    height: 60px;
    display: flex;
    justify-content: space-between; /* 가로로 일렬 배치하고 요소들 사이에 공간 배분 */
    align-items: center; /* 세로 중앙 정렬 */
    background: white;
    padding: 0 20px; /* 좌우 패딩 추가 */
    box-sizing: border-box; /* 패딩을 포함한 박스 사이징 설정 */
  }
  
  .WebIde {
    cursor: pointer;
    display: flex;
    width: 150px;
    height: 150px;
  }
  
  .Level1 {
    color: #919191;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Header_user_box, .Header_Login_box {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    flex-grow: 0.5;
    cursor: pointer;
  }
  .Header_user_box * {
    margin-left: 20px;
  }
  .Header_user_box_Text {
    color: black;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 10px; /* 이미지와 텍스트 사이의 간격 */
  }
  
  .Header_user_box_Image {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 9999px;
  }
  
  .Logout, .Header_Login {
    color: #919191;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    flex-grow: 0.5;
    cursor: pointer;
  }

  
 

  