body{
    font-family: 'Gmarket Sans TTF', sans-serif;
}

.Header {
    width: 100%;
}

.main_left {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 100%;
    max-width: 1020px;
    justify-content: center;
    max-height: 920px;
}

.main_right {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 23%;
    justify-content: center;
    gap: 20px;
}

.Button_Group {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
    gap:10px;
}

.Start, .Ready {
    width: 43% !important;
    height: 9vh;
    font-size: 1.2rem !important;
}

.Exit {
    width: 43% !important;
    height: 9vh;
    font-size: 1.2rem !important;
}

h2 {
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    color: #4679FD;
    font-size: 21px; /* 글씨 크기 고정 */
}

/* 준비 버튼 기본 스타일 */
.Ready {
    background-color: #4679FD;
    color: white;
    border: none;
    cursor: pointer;
}

/* 준비 완료 상태 스타일 */
.Ready.ready-complete {
    background-color: white;
    color: #4679FD !important; 
    border: 2px solid #4679FD;
    cursor: pointer;
}

.main_left .chatting_list{
    height: 32%;
}
