.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #efefef2b;
    width: 8vw;
    height: 16vh;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-profile-image {
    width: 50px;
    height: 50px;
}

.user-profile-image :nth-child(1){
    display: flex;
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.user-item h3 {
    margin: 0;
    font-size: 1.2rem;
    white-space: nowrap; 
    color: black;
}

.user-item p {
    margin: 10% 0 0 0;
    font-size: 12px;
    color: #666;
}

.user-status{
    display: flex;
    width: 92%;
    height: 23%;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}
.user-status.ready {
    color: #4679FD ;
    background-color: #ffffff;
    border: 1px solid #4679FD;
    font-size: 1rem;
    font-weight: 650;
    margin-top: 0;
    width: 90.805px;
    height: 26.477px;
}

.user-status.not-ready {
    color: rgb(255, 255, 255);
    background-color: #4679FD;
    font-size: 1rem;
    font-weight: 650;
    margin-top: 0;
}
